{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Регистрация</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field.errors }}
            {{ field }}
            {% if field.help_text %}
            <div>{{ field.help_text }}</div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit">Зарегистрироваться</button>
    </form>
    <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
</div>
{% endblock %}