{% extends 'base.html' %}

{% block title %}Заказ №{{ order.id }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/order.css">
<div class="main-content">
    <div>
        <a href="{% url 'catalog:order_list' %}" class="back-link">
            &lt; Назад к списку заказов
        </a>
    </div>

    <h1>Заказ #{{ order.id }}</h1>

    <div class="order-info">
        <h4>Информация о заказе</h4>
        <dl>
            <dt>Компания</dt>
            <dd>{{ order.client.company_name }}</dd>
            <dt>Продукция</dt>
            <dd>{{ order.product.name }}</dd>
            <dt>Количество</dt>
            <dd>{{ order.quantity }}</dd>
            <dt>Дата заказа</dt>
            <dd>{{ order.order_date }}</dd>
            <dt>Дата выполнения</dt>
            <dd>{{ order.completion_date|default:'—' }}</dd>
            <dt>Статус</dt>
            <dd>{{ order.get_status_display }}</dd>
            <dt>Сумма</dt>
            <dd>{{ order.total_amount }} руб.</dd>
        </dl>
        {% if user.employee and order.status == 'paid' %}
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="mark_as_accepted">
                Принять к исполнению
            </button>
        </form>
        {% endif %}
    </div>


    {% if user.client and order.status == 'new' %}
    <div class="button-group">
        <a href="{% url 'catalog:payment' order.id %}">
            <button type="button">
                Оплатить
            </button>
        </a>
        
        <form method="post" style="display: inline;">
            {% csrf_token %}
            <div class="form-group">
                <label for="quantity">Изменить количество:</label>
                <input type="number" id="quantity" name="quantity" value="{{ order.quantity }}" required>
            </div>
            <button type="submit" name="change_quantity">
                Изменить
            </button>
        </form>
        
        <form method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" name="delete_order" class="delete-button">
                Удалить заказ
            </button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}