{% extends 'base.html' %}

{% block title %}Пункты самовывоза{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/pickup_points.css">
<div class="main-content">
    <h2>Пункты самовывоза</h2>

    <div>
        <!-- Список точек -->
        <div>
            <h3>Список пунктов самовывоза</h3>
            {% for point in pickup_points %}
            <div class="pickup-point">
                {% if point.image %}
                <img src="{{ point.image.url }}" alt="Фото {{ point.name }}">
                {% endif %}
                <div class="pickup-info">
                    <h4>{{ point.name }}</h4>
                    <p><strong>Адрес:</strong> {{ point.address }}</p>
                    <p><strong>Время работы:</strong> {{ point.working_hours }}</p>
                    <p><strong>Телефон:</strong> {{ point.phone }}</p>
                </div>
            </div>
            {% if not forloop.last %}
            <hr>
            {% endif %}
            {% empty %}
            <p>Пункты самовывоза не найдены</p>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}