{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div>
    <div>
        <div>
            <img width="500px" src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>
        <div>
            <h1>{{ product.name }}</h1>
            <p><strong>Цена: {{ product.price }} руб</strong></p>
            <p>Категория: {{ product.category.name }}</p>
            <p>{{ product.description }}</p>
            <p>Код товара: {{ product.product_code }}</p>

            <a href="{% url 'catalog:create_order' %}?product={{ product.id }}" class="button">Заказать</a>
            <hr>
            <a href="{% url 'catalog:product_list' %}">Вернуться к списку товаров</a>
            
        </div>
    </div>
</div>
{% endblock %}