<!DOCTYPE html>
<html lang="ru" itemscope itemtype="https://schema.org/WebSite">

<head>
    <title>Фабрика игрушек</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/media/MTFabout/iconmtf.png" type="image/png">
    <meta itemprop="name" content="Фабрика игрушек">
    <meta itemprop="url" content="{% url 'home:index' %}">
    <meta name="description" content="Фабрика игрушек: каталог, товары, заказы, новости, контакты, отзывы.">
        
</head>

<body>
    <header>
        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <table>
                <tr>
                    <td>
                        <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                            <a href="/" accesskey="h"><img src="/media/MTFabout/iconmtf.png" alt="Логотип компании" width="45"/></a>
                        </span>
                    </td>
                    <td><h1 title="Главное название" itemprop="name">Фабрика игрушек</h1></td>
                </tr>
            </table>
            <nav itemprop="mainEntity" itemscope itemtype="https://schema.org/SiteNavigationElement">
            <table>
                <tr>
                    <td><a href="{% url 'home:index' %}" itemprop="url"><span itemprop="name">Главная</span></a></td>
                    <td><a href="{% url 'home:about' %}" itemprop="url"><span itemprop="name">О компании</span></a></td>
                    <td><a href="{% url 'home:news' %}" itemprop="url"><span itemprop="name">Новости</span></a></td>
                    <td><a href="{% url 'home:faq' %}" itemprop="url"><span itemprop="name">FAQ</span></a></td>
                    <td><a href="{% url 'home:contacts' %}" itemprop="url"><span itemprop="name">Контакты</span></a></td>
                    <td><a href="{% url 'home:vacancies' %}" itemprop="url"><span itemprop="name">Вакансии</span></a></td>
                    <td><a href="{% url 'home:review_crud_list' %}" itemprop="url"><span itemprop="name">Отзывы</span></a></td>
                    <td><a href="{% url 'home:promocodes' %}" itemprop="url"><span itemprop="name">Промокоды</span></a></td>
                    <td><a href="{% url 'catalog:product_list' %}" itemprop="url"><span itemprop="name">Каталог</span></a></td>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <td><a href="{% url 'catalog:statistics' %}" itemprop="url"><span itemprop="name">Статистика</span></a></td>
                        {% endif %}
                        {% if user.employee %}
                            <td><a href="{% url 'catalog:employee_dashboard' %}" itemprop="url"><span itemprop="name">Панель управления</span></a></td>
                            <td><a href="{% url 'users:profile' %}" itemprop="url"><span itemprop="name">Профиль</span></a></td>
                        {% elif user.client %}
                            <td><a href="{% url 'catalog:order_list' %}" itemprop="url"><span itemprop="name">Заказы</span></a></td>
                            <td><a href="{% url 'catalog:pickup_points' %}" itemprop="url"><span itemprop="name">Пункты самовывоза</span></a></td>
                            <td><a href="{% url 'users:profile' %}" itemprop="url"><span itemprop="name">Профиль</span></a></td>
                        {% endif %}
                        <td>
                            <span>
                                {{ user.get_full_name|default:user.username }}
                            </span>
                        {% if user.is_superuser %}
                            <span> (админ)</span>
                        {% elif user.employee %}
                            <span> (сотрудник)</span>
                        {% elif user.client %}
                            <span> (клиент)</span>
                        {% endif %}
                        </td>
                        <td><a href="{% url 'users:logout' %}" itemprop="url"><span itemprop="name">Выйти</span></a></td>
                    {% else %}
                        <td><a href="{% url 'users:login' %}" itemprop="url"><span itemprop="name">Войти</span></a></td>
                        <td><a href="{% url 'users:register' %}" itemprop="url"><span itemprop="name">Регистрация</span></a></td>
                    {% endif %}
                </tr>
            </table>
            </nav>
        </div>
    </header>
    

    <main>
        {% if messages %}
        {% for message in messages %}
        <div>
            {{ message }}
            <button type="button">×</button>
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <div>
            <p>© 2025 Фабрика игрушек. Все права защищены.</p>
            <a href="{% url 'home:policy' %}">Политика конфиденциальности</a>
        </div>
    </footer>
</body>

</html>