{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<h1>Контакты</h1>

<div>
    {% for contact in contacts %}
    <div>
        {% if contact.photo %}
        <img width="300" src="{{ contact.photo.url }}" alt="{{ contact.name }}">
        {% endif %}
        <h2>{{ contact.name }}</h2>
        <p><strong>Должность:</strong> {{ contact.position }}</p>
        {% if contact.phone %}
        <p><strong>Телефон:</strong> {{ contact.phone }}</p>
        {% endif %}
        {% if contact.email %}
        <p><strong>Email:</strong> {{ contact.email }}</p>
        {% endif %}
        {% if contact.description %}
        <p>{{ contact.description }}</p>
        {% endif %}
    </div>
    {% empty %}
    <div>
        Контактная информация отсутствует.
    </div>
    {% endfor %}
</div>
{% endblock %}