{% extends 'base.html' %}

{% block title %}{{ news.title }}{% endblock %}

{% block content %}

<div>
    <article>
        <h1>{{ news.title }}</h1>
        <p>
            <small>Опубликовано: {{ news.created_at|date:"d.m.Y" }}</small>
        </p>

        {% if news.image %}
        <div>
            <img src="{{ news.image.url }}" alt="{{ news.title }}">
        </div>
        {% endif %}

        <div>
            {{ news.content|linebreaks }}
        </div>
    </article>
</div>

{% endblock %}