{% extends 'base.html' %}

{% block title %}Промокоды{% endblock %}

{% block content %}
<h1>Действующие промокоды</h1>
<div title="promocodes">
    {% for promocode in promocodes %}
    <div title="promocode" >
        <h3>Скидка {{ promocode.discount }}%</h3>
        <p><strong>Код:</strong> {{ promocode.code }}</p>
        <p><small>Действует до {{ promocode.valid_to|date:"d.m.Y" }}</small></p>
    </div>
    <hr>

    {% empty %}
    <div>
    В настоящее время активных промокодов нет.
    </div>
    {% endfor %}
</div>

<details>
<summary><h1>Архив неактивных промокодов</h1></summary>
<div title="inactive-promocodes">
    {% for promocode in inactive_promocodes %}
    <div title="promocode">
        <h3>Скидка {{ promocode.discount }}%</h3>
        <p><strong>Код:</strong> {{ promocode.code }}</p>
        <p><small>Истек {{ promocode.valid_to|date:"d.m.Y" }}</small></p>
    </div>
    <hr>
    {% empty %}
    <div>
        В архиве нет неактивных промокодов.
    </div>
    {% endfor %}
</div>
</details>
{% endblock %}