{% extends 'base.html' %}


{% block title %}
{% if current_category %}{{ current_category.name }}{% else %}Все товары{% endif %}
{% endblock %}

{% block content %}
<div>
    <h1>Каталог</h1>
    <div style="padding: 5px">
        <h3>Фильтры</h3>
        <form method="get" action="{% url 'catalog:product_list' %}">
            <div>
                <label for="search">Поиск</label>
                <input type="text" id="search" name="q" value="{{ search_query }}">
            </div>

            <div>
                <label for="category">Категория</label>
                <select id="category" name="category">
                    <option value="">Все категории</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}" {% if current_category and category.id == current_category.id %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label>Цена</label>
                <div>
                    <input type="number" name="min_price" placeholder="От" value="{{ min_price }}">
                    <input type="number" name="max_price" placeholder="До" value="{{ max_price }}">
                </div>
            </div>

            <div>
                <label for="sort">Сортировка</label>
                <select id="sort" name="sort">
                    <option value="price_desc" {% if 'price_desc' in current_sort %}selected{% endif %}>Сначала дорогие</option>
                    <option value="price_asc" {% if 'price_asc' in current_sort %}selected{% endif %}>Сначала дешевые</option>
                    <option value="name_asc" {% if 'name_asc' in current_sort %}selected{% endif %}>По названию (А-Я)</option>
                    <option value="name_desc" {% if 'name_desc' in current_sort %}selected{% endif %}>По названию (Я-А)</option>
                </select>
            </div>

            <button type="submit">Применить</button>
        </form>
    </div>

    {% if search_query %}
    <h4>Результаты поиска: {{ search_query }}</h4>
    {% endif %}

    {% if not object_list %}
    <div>
        Товары не найдены
    </div>
    {% else %}
    <div>
        {% for product in object_list %}
        <div style="border: 1px solid; margin:5px; padding:10px ">
            <a href="{% url 'catalog:product_detail' product.id %}">
                <img width="300" src="{{ product.image.url }}" alt="{{ product.name }} image"> 
            </a>                    
            <h4>{{ product.name }}</h4>
            <p>{{ product.category.name }}</p>
            <p>{{ product.description|truncatewords:20 }}</p>
            <p><small>Код: {{ product.product_code }}</small></p>
            <p><strong>Цена: {{ product.price }} руб</strong></p>
            <a href="{% url 'catalog:product_detail' product.id %}">Подробнее</a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}