{% extends 'base.html' %}

{% block title %}Главная - Фабрика игрушек{% endblock %}

{% block content %}
<div>
    <h1>Добро пожаловать на фабрику игрушек!</h1>
    <p><strong>Мы производим качественные игрушки для оптовых покупателей.</strong></p>
    <hr>
    <p>Узнайте больше о нашей продукции</p>
    <a tabindex="-1"  href="{% url 'catalog:product_list' %}">Перейти в каталог</a>
</div>
<div style="display: flex; gap: 10px;">
    <img src="../../media/ads/banner1.jpg" alt="banner1" style="width: 150px;display: block;">
    <img src="../../media/ads/banner2.jpg" alt="banner2" style="width: 150px; display: block;">
    <img src="../../media/ads/banner3.jpg" alt="banner3" style="width: 150px; display: block;">
</div>
{% if last_news %}
<div>
    <h2>Последняя новость</h2>
    <img src="{{ last_news.image.url }}" alt="{{ last_news.title }}">
    <div>
        <h3>{{ last_news.title }}</h5>
        <p>{{ last_news.summary|truncatewords:20 }}</p>
        <a href="{% url 'home:news_detail' last_news.pk %}">Читать далее</a>
    </div>
</div>
{% else %}
<div>
    Новостей пока нет.
</div>
{% endif %}
<div>
    <h2>Наши партнёры</h2>
    {%for partner in partners%}
    <a href="{{ partner.url }}" target="_blank" rel="noopener">
        <img src="{{ partner.logo.url }}" alt="{{ partner.name }}" width="100" height="60" style="max-width: 100%; height: auto;">
    </a>
    {%endfor%}
</div>


{% endblock %}