{% extends 'base.html' %}

{% block title %}Новости{% endblock %}

{% block content %}
<h1>Новости</h1>

<div>
    {% for news_item in news_list %}
        <div>            
            <img src="{{ news_item.image.url }}" alt="{{ news_item.title }}">
            <h4>{{ news_item.title }}</h4>
            <p>{{ news_item.summary|truncatewords:20 }}</p>
            <small>{{ news_item.created_at|date:"d.m.Y" }}</small>
            <a href="{% url 'home:news_detail' news_item.pk %}">Читать далее</a>
            <hr>               
        </div>
    {% empty %}
    <div>
        <div>Новостей пока нет.</div>
    </div>
    {% endfor %}
    
</div>
{% endblock %}